body {
  background-color: #2C2B3D;
  margin: 0;

}

header {
  
  display: flex;
  justify-content: space-between;
 margin: 98px ;

}
header ul {
  font-family: 'JetBrains Mono', monospace;
  list-style-type: none;
  display: flex;
  gap:50px;
  color: white;

}
a{
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  gap: 82px;
  margin-top: 109px;
  margin-bottom: 155px;
  margin: 94px;
  

}
 
section{
  text-align: center;

}

h1 {
  font-family: 'JetBrains Mono', monospace;
color: white;
font-size: 36px;
text-align: center;
margin-bottom: 59px;
}

h1 span{
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color:#C2C2C2;
}
p span {
  color: #7D7987

}
#azul {
  color: #00BFA6;
}
  .fim { 
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  width: 567px;
  border-top: 1px solid #00BFA6;
  margin-left: 360px;

}
  
.fim p {
  font-family: 'JetBrains Mono', monospace;
}

.footer {
  display: flex;
  align-items: center;
  padding: 20px;
}


